@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
     --background-gradient: linear-gradient(to bottom left, #00da83, #9cec70);
     --container-background: rgba(255, 255, 255, 0.16);
     --card-title-background: #606060;
    --process-circle: #0000c394;
 }

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h2,h3,h4{
    margin: 0;
    padding: 0;
}

.main{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 55.18rem;
    padding: 1rem;
    gap: .5rem;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--container-background);
    border-radius: .9rem;
    margin: 0;
    padding: 1.2rem 1rem 1rem 1rem;
    gap: .5rem;
}

.background_white {
    background-color: white;
}

.background-gradient {
    background: var(--background-gradient);
}

.card__title {
    border-radius: .3rem;
    padding: .3rem;
    font-size: 1rem;
    box-sizing: border-box;
    width: 16rem;
    text-align: center;
}

.main-font-family{
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0;
}

._transform-font{
    transform: scaleY(1.2);
}

._background-gray {
    background-color: var(--card-title-background);
}

.card-title__line {
     width: 100%;
     height: 2px;
 }

.progress-bar {
    transform: rotate(-90deg);
}

circle:nth-child(2) {
    stroke: var(--process-circle);
    stroke-dasharray: 283 283;
    stroke-width: 5;
}

circle:nth-child(1) {
    fill: rgba(96, 96, 96, 0.1);
}

.toolstack {
    display: flex;
    justify-content: space-around;
}

.profile {
    display: flex;
    flex-direction: column;
}


.card-title {
    display: flex;
    align-items: center;
}

.card_light {
    background-color: var(--container-background);
    border-radius: .9rem;
    margin: 0;
    padding: .2rem 2rem;
}

.card-title_light {
    text-align: left;
    padding-bottom: 0 ;
}

.ul_disc {
    list-style: disc;
    text-indent: -8px;

}

li::marker {
    font-size: 1.3rem;
    vertical-align: baseline;
}

.personal__card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.lastname{
    font-size: 2rem;
}

._color-white{
    color: white;
}

.name{
    font-size: 3rem;
}

.header-text-color {
    color: rgba(255, 255, 255, 0.6);
}

.header{
    margin: 0 auto 2.3rem auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: .8rem;
}


